<app-alert [message]="alertMessage" [type]="alertType"></app-alert>
<div class="card">
  <div class="card-header">
    <div class="ml-2 h5 font-weight-bold">{{ testCase?.name }}</div>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onStartTest()">
      <div class="form-group col-lg-6">
        <label for="userCount">Number of users (peak concurrency)</label>
        <input formControlName="user_num" id="user_num" type="text" placeholder="e.g.: 5,10,50,100,1000,2000" class="form-control" value="10">
      </div>
      <div class="form-group col-lg-6">
        <label for="host">Host</label>
        <input formControlName="host" id="host" type="text" placeholder="e.g. http://www.example.com" class="form-control" value="https://www.upm.edu.my">
      </div>
      <div class="form-group col-lg-6">
        <button type="submit" id="submit" [disabled]="form.invalid || isTesting" class="btn btn-warning mr-2">Start Test</button>
        <button type="button" (click)="stopTest()" [disabled]="!isTesting" class="btn btn-danger mr-2">Stop Test</button>
      </div>
    </form>
    <div *ngIf="isTesting" class="card mt-3 p-3">

      <p>Testing on {{ currentTestUrl }} page <br>
      User : {{ userNum }} <br>
      Current Users: {{ currentUsers }}</p>
      <div class="text-center" *ngIf="isTesting">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <p>Loading, please wait...</p>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="serviceStatus === 'down'">
  <div class="alert alert-danger">Locust service is down. Please check the service.</div>
</ng-container>

<!-- <ng-container *ngIf="serviceStatus === 'running'">
  <div class="alert alert-success">Locust service is running.</div>
</ng-container> -->

<div class="card mt-4" *ngIf="showResults">
  <div class="card-header h5 font-weight-bold">
    Table Result
    <button type="button" class="btn btn-success float-right" (click)="saveTestResults()" [disabled]="!showResults">Save Results</button>
  </div>
  <div class="card-body">
    <table class="table table-bordered" *ngIf="individualTestResults.length > 0; else noDataTemplate">
      <thead>
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>Name (Page)</th>
          <th>Total User</th>
          <th># Requests</th>
          <th># Fails</th>
          <th>Median (ms)</th>
          <th>90%ile (ms)</th>
          <th>99%ile (ms)</th>
          <th>Average (ms)</th>
          <th>Min (ms)</th>
          <th>Max (ms)</th>
          <th>Average Size (bytes)</th>
          <th>Current RPS</th>
          <th>Current Failures/s</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of individualTestResults; let i = index">
          <td>{{ i + 1 }}.</td>
          <td>{{ stat.method }}</td>
          <td>{{ stat.name }}</td>
          <td>{{ stat.user_num }}</td>
          <td>{{ stat.num_requests }}</td>
          <td>{{ stat.num_failures }}</td>
          <td>{{ stat.median_response_time }}</td>
          <td>{{ stat.ninetieth_response_time }}</td>
          <td>{{ stat.ninety_ninth_response_time }}</td>
          <td>{{ stat.avg_response_time }}</td>
          <td>{{ stat.min_response_time }}</td>
          <td>{{ stat.max_response_time }}</td>
          <td>{{ stat.avg_content_length }}</td>
          <td>{{ stat.current_rps }}</td>
          <td>{{ stat.current_fail_per_sec }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noDataTemplate>
      <div class="alert alert-warning">No data available yet.</div>
    </ng-template>
  </div>
</div>
