<div class="card">
  <div class="card-header">
      Start New Load Test
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onStartTest()">
      <div class="form-group">
        <label for="users">Number of users (peak concurrency)</label>
        <input formControlName="userCount" type="number" placeholder="Number of users" class="form-control">
      </div>
      <div class="form-group">
        <label for="spawnRate">Spawn rate (users started/second)</label>
        <input formControlName="spawnRate" type="number" placeholder="Spawn rate" class="form-control">
      </div>
      <div class="form-group">
        <label for="host">Host</label>
        <input formControlName="host" type="text" placeholder="e.g. http://www.example.com" class="form-control">
      </div>
      <div class="form-group">
        <label for="runTime">Run time (Optional)</label>
        <!-- <input type="text" #runTime placeholder="e.g. 20, 20s, 3m, 2h" class="form-control"> -->
      </div>
      <button type="submit" [disabled]="!form.valid" class="btn btn-success mr-2">Start Test</button>
      <button (click)="onStopTest()" class="btn btn-danger mr-2">Stop Test</button>
      <button (click)="onGetStats()" class="btn btn-primary mr-2">Get Stats</button>
      <button (click)="onResetStats()" class="btn btn-warning mr-2">Reset Stats</button>
    </form>
  </div>
</div>
