<div class="card">
  <div class="card-header h5 font-weight-bold">
    Scenario Detail
    <!-- <button (click)="deleteScenario(scenario._id)" class="btn btn-danger btn-sm float-right">Remove</button>
    <a [routerLink]="['/scenario/edit', scenario._id]" class="btn btn-primary btn-sm mr-2 float-right">Edit</a> -->
  </div>
  <div class="card-body">
    <!--begin::Content-->
    <h4 class="card-title font-weight-bold">{{ scenario.name }}</h4>
    <p class="card-text">{{ scenario.description }}</p>
    <!--end::Content-->
</div>
</div>

<div class="card">
  <div class="card-header h5 font-weight-bold">
    Test Case
  </div>
  <div class="card-body">
    <!--begin::Content-->
    <table class="table table-bordered">
      <thead>
          <tr>
              <th style="width: 10px">#</th>
              <th>Case Name</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let testCase of testCases; let i = index">
              <td>{{ i + 1 }}</td>
              <td><a [routerLink]="['/testcase/show', testCase._id]">{{ testCase.name }}</a></td>
          </tr>
      </tbody>
  </table>
    <!--end::Content-->
</div>
</div>



<div class="card">
  <div class="card-header h5 font-weight-bold">
    Project Detail
  </div>
  <div class="card-body">
    <!--begin::Content-->
    <h4 class="card-title font-weight-bold">{{ project.name }}</h4>
    <p class="card-text">{{ project.description }}</p>
    <div class="col-lg-12 card-title pt-3 h5 pl-0 font-weight-bold">Acceptance Criteria</div>
    <div class="row">
      <div class="col-lg-6">
        <strong>Avg. Response Time:</strong>
        <span> {{ project.avg_response_time }} ms</span>
      </div>
      <div class="col-lg-6">
        <strong>Error Percentage:</strong>
        <span> {{ project.error_percentage }}%</span>
      </div>
      <div class="col-lg-6">
        <strong>CPU Usage:</strong>
        <span> {{ project.cpu_usage }}%</span>
      </div>
      <div class="col-lg-6">
        <strong>Memory Usage:</strong>
        <span> {{ project.memory_usage }}%</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <strong>Created by:</strong>
        <span></span>
      </div>
      <div class="col-lg-6">
        <strong>Date:</strong>
        <span></span>
      </div>
    </div>
    <!--end::Content-->
  </div>
</div>

<div class="card">
  <div class="card-header h5 font-weight-bold">
    Performance Test Detail
  </div>
  <div class="card-body">
    <!--begin::Content-->
    <p class="card-text">{{ project.test_detail }}</p>
    <!--end::Content-->
</div>
</div>
