<app-alert [message]="alertMessage" [type]="alertType"></app-alert>
<div class="card">
  <div class="card-header">
    Project List
    <a routerLink="/project/create" class="btn btn-primary mr-2 float-right">Create Project</a>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Avg. Response Time</th>
          <th>Error Percentage</th>
          <th>CPU Usage</th>
          <th>Memory Usage</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; let i = index">
          <td>{{ i + 1 }}</td>
          <td><a [routerLink]="['/project/show', project._id]">{{ project.name }}</a></td>
          <td>{{ project.avg_response_time }}</td>
          <td>{{ project.error_percentage }}</td>
          <td>{{ project.cpu_usage }}</td>
          <td>{{ project.memory_usage }}</td>
          <td class="text-center"><a [routerLink]="['/dashboard/show', project._id]" class="btn btn-warning btn-sm">View Dashboard</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
